h1 {
  font-size:  24px;
  font-weight: bold;
  color: blue;
}
body {
background-color: aquamarine;
text-align: center;
}
#content{
  display: grid;
  grid-template-columns: 50% 25% 25%;
  max-width: 960px;
  margin: 0 auto;
}
#content div{
  background: #3bbced;
  padding 30px;
}
#content div:nth-child(even){
  background: #777;
}
